<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <title>前端崩溃</title>
    <!-- Bootstrap Styles-->
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
      <!--bs multiselect  -->
	<link href="https://cdn.bootcss.com/element-ui/2.12.0/theme-chalk/index.css" rel="stylesheet">
  	<link rel="stylesheet" href="../css/clientCollapse.css" />
	<link rel="stylesheet" href="../js/bootstrap-table/bootstrap-table.css" />
    <link rel="stylesheet" href="../js/loading/jquery.mloading.css" />
    <script src="../js/loading/jquery.mloading.js"></script>
</head>
<body style="background: #202020;min-width:1900px;" >
	<div id="wrapper" style="background: #202020">
       <!-- main结构-->
		<div id="navigation"></div>
        <div id="page-wrapper">
			<div id="page-inner" class="classpageinner" style="min-height: 1020px;color: white;overflow: hidden">
				<div style="display: flex;flex-direction: column">
					<div class="form-group col-xs-12" style="float: left;margin-bottom: 20px;width:100%;margin-top:4%;" id="dangerLine">
						<!--<div class="col-xs-3 col-sm-3 col-xs-3" style="margin-top: 1%;width:350px;" id="serverCos">-->
						<!--<div class="myown">-->
						<!--<label style="font-weight:400;font-size: 16px;float:left;margin-right:2%;margin-top:2%" class="lableServer" >区服</label>-->
						<!--<select name="district" multiple="multiple" size="5" id="district" style=" border-radius: 0; width: 251px;height: 30px;" class="form-control">-->
						<!--</select>-->
						<!--</div>-->
						<!--</div>-->
						<div class="form-group col-xs-3 col-xs-pull-0" id="data_5" style="margin-top:1.1%;width: 20%">
							<div style="font-size:14px" class="timeTime">
								日期&nbsp; <el-date-picker
									v-model="ruleForm.dateValue"
									align="bottom"
									style="margin-left: 2px"
									value-format="yyyy-MM-dd"
									type="date"
									placeholder="选择日期"
									:picker-options="pickerOptions">
							</el-date-picker>
							</div>
						</div>
						<!---->
						<button type="button" id="chaTop" class="btn" onclick="onbluTop()">查询</button>
						<!--<button type="button" id="chaaa" class="btn" style="float: right;margin-right:2.2%;background-color: #1E9FFF;color: white;width:68px !important;margin-top:1.2%;" onclick="onbluAno()">查询</button>-->
					</div>
					<div id="partTop">
						<div class="countDownTime" style="color: #999999;font-size: 13px">&nbsp;(&nbsp;<span class="countdown" style="color:#ffffff;"></span>&nbsp;)&nbsp;后更新</div>
						<span style="margin-left: 40%;color: #999999;font-size: 14px">崩溃时间点</span>
						<i style="background: url('../image/exp2.png')" id="real-btnN"></i>
						<div class="father">
							<div class="helpDescription">
								<table style="border-radius: 4px;">
									<tr style="height: 30px;line-height: 30px">
										<td colspan="8" style="background: #121212;padding-left: 3px">崩溃时间点说明</td>
									</tr>
									<tr style="height: 30px;line-height: 30px;background: #1B1B1B">
										<td colspan="1" style="padding-left: 3px">崩溃时间</td>
										<td colspan="7" style="padding-left: 15px;color: #A4A3AE;">默认为当前崩溃时间和昨日崩溃时间点&nbsp;&nbsp;&nbsp;</td>
									</tr>
								</table>
							</div>
							<i style="background: url('../image/help2.png')" class="help"></i>
						</div>
						<div class="titleLoadAdd" style="height: 270px;width: 99.5%;font-size: 12px;float: left;padding-top: 1%;padding-top: 5%;text-align: center;color:#ffffff;" id="loadstart"><i class="el-icon-loading" style="font-size: 28px;vertical-align: middle;"></i><div style="margin-top: 5px">加载中...</div></div>
						<div style="width: 100%">
							<div id="chartTop" style="text-align: center;table-layout: fixed;font-weight: 200;height: 270px;width: 99.5%">
							</div>
						</div>
				    </div>
					<div style="display: none">
						<table id="real-datatableCol">
							<thead>
							<tr>
								<th>崩溃时间点</th>
								<th>人数</th>
							</tr>
							</thead>
							<tbody id="real-tbodyCol"></tbody>
						</table>
					</div>
				</div>
				<div class="form-group col-xs-12"  id="dangerLineNext">
					<div class="form-group col-xs-3 col-xs-pull-0" id="data_5Next" style="margin-top:1.1%;width: 20%;display: flex">
						<div style="font-size:14px" class="timeTime">
							日期&nbsp;&nbsp;<el-date-picker
								class="timePick"
								style="margin-left: 3px"
								value-format="yyyy-MM-dd"
								v-model="ruleFormA.dateValue"
								type="daterange"
								align="bottom"
								unlink-panels
								range-separator="~"
								start-placeholder="开始日期"
								end-placeholder="结束日期"
								:picker-options="pickerOptionsA">
						</el-date-picker>
						</div>

						<!--<div class="countDownTime" style="margin-left: 8%">&nbsp;(&nbsp;<span class="countdown" style="color:#B63DF2;"></span>&nbsp;)&nbsp;后更新</div>-->
					</div>
					<button type="button" id="cha" class="btn" onclick="onblu()">查询</button>
				</div>
				<div class="dayTop" style="color: #ffffff;font-size: 14px">
					<!--<span id="query_day"></span>-->
					崩溃总次数:&nbsp;
					<span id="query_number"></span>次
				</div>
				<div style="float: left;margin-top:10px;width: 100%">
					<div class="partFour" style="min-width: 1650px">
						<div style="width: 49%;display: inline;">
							<div class="titleLoadAdd" style="font-size: 12px;width: 819px;height: 325px;text-align: center;color:#ffffff;" id="loadfen"><i class="el-icon-loading" style="font-size: 28px;vertical-align: middle;"></i><div style="margin-top: 5px">加载中...</div></div>
							<div id="partFourLeft" style="width: 819px;height: 325px;"></div>
						</div>
						<div style="display: inline;width: 49%;">
							<div class="titleLoadAdd" style="font-size: 12px;width: 819px;height: 325px;float: right;margin-top:-19.6%;text-align: center;color:#ffffff;" id="loadphone"><i class="el-icon-loading" style="font-size: 28px;vertical-align: middle;"></i><div style="margin-top: 5px">加载中...</div></div>
							<div id="partFiveRight" style="width: 819px;height: 325px;float: right;margin-top:-19.6%;"></div>
						</div>
						<!--<div style="display: inline;width: 49%;">-->
							<!--<div id="partFourRight"  style="width: 819px;height: 470px;float: right;margin-top: -28.3%"></div>-->
						<!--</div>-->
					</div>
				</div>

				<div style="float: left;width: 100%">
					<div class="partFiveF" style="margin-top: 20px;min-width: 1650px">
						<div style="width: 49%;display: inline;">
							<div class="titleLoadAdd" style="font-size: 12px;width: 819px;height: 325px;margin-top: 1%;text-align: center;color:#ffffff;" id="loadver"><i class="el-icon-loading" style="font-size: 28px;vertical-align: middle;"></i><div style="margin-top: 5px">加载中...</div></div>
							<div id="partFiveL" style="width: 819px;height: 325px;margin-top: 1%;"></div>
						</div>
						<div style="display: inline;width: 49%;">
							<div class="titleLoadAdd" style="font-size: 12px;width: 819px;height: 325px;float: right;margin-top:-19.5%;text-align: center;color:#ffffff;" id="loadnet"><i class="el-icon-loading" style="font-size: 28px;vertical-align: middle;"></i><div style="margin-top: 5px">加载中...</div></div>
							<div id="partFiveR" style="width: 819px;height: 325px;float: right;margin-top:-19.5%;"></div>
						</div>
					</div>
				</div>
				<div style="width: 100%;float: left;margin-top: 20px;border: 1px solid #707070;padding-top: 4px">
					<i style="background: url('../image/exp2.png')" id="real-btnM"></i>
					<span style="margin-left: 48%;color: #999999;font-size: 14px">设备总内存大小</span>
					<div class="titleLoadAdd" style="font-size: 12px;float: left;height: 285px;margin-top: 1%;margin-left:48%;text-align: center;color:#ffffff;" id="loaddelay"><i class="el-icon-loading" style="font-size: 28px;vertical-align: middle;"></i><div style="margin-top: 5px">加载中...</div></div>
					<div class="partThree" style="margin-top: 1%">
						<div style="width: 100%;">
							<div id="partThreeLeft" style="width: 1650px;height: 285px"></div>
						</div>
					</div>
				</div>
				<div style="display: none">
					<table id="real-datatableSave">
						<thead>
						<tr>
							<th>设备总内存大小(G)</th>
							<th>人数</th>
						</tr>
						</thead>
						<tbody id="real-tbodySave"></tbody>
					</table>
				</div>
				<div id="partCpu" style="min-width: 1650px">
					<div class="titleLoadAdd" style="font-size: 12px;width: 100%;height: 285px;margin-top: 1%;text-align: center;color:#ffffff;" id="loadcpu"><i class="el-icon-loading" style="font-size: 28px;vertical-align: middle;"></i><div style="margin-top: 5px">加载中...</div></div>
					<div class="cpu">
						<i style="background: url('../image/exp2.png')" id="real-btnQ"></i>
						<span style="margin-left: 50%;color: #999999;font-size: 14px">CPU</span>
						<div style="display: flex;justify-content: space-between;flex-wrap: wrap;align-items: center;">
						<div style="width: 81%">
							<div id="chartCpu" style="text-align: center;table-layout: fixed;font-weight: 200;width:1337px;height: 300px;padding-top: 1%">
							</div>
						</div>
					    <div>
							<div  v-for="(item,index) in cpulist" :key="index">
								<div class="cpuTag" :class="colorCpu[index]">
									<span class="cpuName">{{item.name}}</span>
									<span class="split-line">:</span>
									<span class="cpuPercent">{{item.percent}}</span>
								</div>
							</div>
					    </div>
					</div>
					</div>
				</div>
				<div style="display: none">
					<table id="real-datatableCPU">
						<thead>
						<tr>
							<th>CPU类型</th>
							<th>人数</th>
							<th>百分比(%)</th>
						</tr>
						</thead>
						<tbody id="real-tbodyCPU"></tbody>
					</table>
				</div>
				<div id="partGPU" style="min-width: 1650px">
					<div class="titleLoadAdd" style="font-size: 12px;width: 100%;height: 285px;margin-top: 1%;text-align: center;color:#ffffff;" id="loadgpu"><i class="el-icon-loading" style="font-size: 28px;vertical-align: middle;"></i><div style="margin-top: 5px">加载中...</div></div>
					<div class="gpu">
						<i style="background: url('../image/exp2.png')" id="real-btnR"></i>
						<span style="margin-left: 50%;color: #999999;font-size: 14px">GPU</span>
						<div style="display: flex;justify-content: space-between;flex-wrap: wrap;align-items: center;">
							<div style="width: 81%">
								<div id="chartGPU" style="text-align: center;table-layout: fixed;font-weight: 200;height: 300px;width: 99.5%;padding-top: 1%">
								</div>
							</div>
							<div>
								<div  v-for="(item,index) in gpulist" :key="index">
									<div class="gpuTag" :class="colorGpu[index]">
										<span class="gpuName">{{item.name}}</span>
										<span class="split-line">:</span>
										<span class="gpuPercent">{{item.percent}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div style="display: none">
					<table id="real-datatableGPU">
						<thead>
						<tr>
							<th>GPU类型</th>
							<th>人数</th>
							<th>百分比(%)</th>
						</tr>
						</thead>
						<tbody id="real-tbodyGPU"></tbody>
					</table>
				</div>
	        </div>
        </div>
	</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.12.0/index.js"></script>
	<script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script src="../js/highcharts/exporting.js"></script>
    <script src="http://cdn.hcharts.cn/highcharts/6.1.1/modules/data.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.3.0-rc.2/echarts.min.js"></script>
    <script src="../haddup/js/haddupCollapse.js"></script>
    <script src="../js/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="../js/jquery.table2excel.js"></script>
	<script type="text/javascript">
		$('#navigation').load('tagtag.html')
        var vm_collapse=new Vue({
            el:'#page-inner',
            data:{
                msg:'hello',
                cpulist:[],
                gpulist:[],
                colorCpu:[
                    "cpuO","cpuT","cpuTH","cpuF", "cpuFI","cpuS","cpuSE","cpuE","cpuN","cpuTE",
                ],
                colorGpu:[
                    "gpuO","gpuT","gpuTH","gpuF", "gpuFI","gpuS","gpuSE","gpuE","gpuN","gpuTE",
                ],
                pickerOptionsA: {
                    disabledDate(time) {
                        return time.getTime() > Date.now();//如果有后面的-8.64e7就是不可以选择今天的
                    },
                    shortcuts: [
                        {
                        text: '今日',
                        onClick(picker) {
                            var end = new Date();
                            var start = new Date();
                            start.setTime(start.getTime());
                            picker.$emit('pick', [start, end]);
                        }
                    },
						{
                            text: '昨日',
                            onClick(picker) {
                                var end = new Date();
                                var start = new Date();
                                start.setTime(start.getTime() - 3600 * 1000 * 24 );
                                end.setTime(end.getTime() - 3600 * 1000 * 24 );
                                picker.$emit('pick', [start, end]);
                            }
                        },{
                        text: '近7日',
                        onClick(picker) {
                            var end = new Date();
                            var start = new Date();
                            end.setTime(end.getTime() - 3600 * 1000 * 24 );
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '近30日',
                        onClick(picker) {
                            var end = new Date();
                            var start = new Date();
                            end.setTime(end.getTime() - 3600 * 1000 * 24 );
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '全部',
                        onClick(picker) {
                            var end = new Date();
                            var start = new Date('2019-11-30 00:00:00');
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                pickerOptions: {
                    disabledDate(time) {
                        return time.getTime() > Date.now();
                    },
                    shortcuts: [
                            {
                            text: '今天',
                            onClick(picker) {
                                picker.$emit('pick', new Date());
                            }
                        },
                        {
                            text: '昨天',
                            onClick(picker) {
                                var date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24);
                                picker.$emit('pick', date);
                            }
                        }, {
                            text: '一周前',
                            onClick(picker) {
                                var date = new Date();
                                date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
                                picker.$emit('pick', date);
                            }
                        }]
                },
                ruleForm: { dateValue: "" },
                ruleFormA: { dateValue: "" },
            },
            computed: {
                timeDefault() {
                    var date = new Date();
                    var oneweekdate = new Date(date-24*3600*1000);
                    var y = oneweekdate.getFullYear();
                    var m = oneweekdate.getMonth()+1;
                    var d = oneweekdate.getDate();
                    var formatwdate = y+'-'+m+'-'+d;
                    return formatwdate;
                },
                timeDefaulttoday() {
                    var date = new Date();
                    var y = date.getFullYear();
                    var m = date.getMonth()+1;
                    var d = date.getDate();
                    var formatwdate = y+'-'+m+'-'+d;
                    return formatwdate;
                },
                timeDefaultLast() {
                    var date = new Date();
                    var oneweekdate = new Date(date-30*24*3600*1000);
                    var y = oneweekdate.getFullYear();
                    var m = oneweekdate.getMonth()+1;
                    var d = oneweekdate.getDate();
                    var formatwdate = y+'-'+m+'-'+d;
                    return formatwdate;
                }
            },
            mounted() {
                // 初始化查询，默认为前一周
                this.ruleFormA.dateValue = [this.timeDefaultLast,this.timeDefaulttoday];
                this.ruleForm.dateValue = this.timeDefault;
            },
            methods: {
                // queryStartTime(){
                //     var timegive=this.ruleFormA.dateValue
				// 	querytime(timegive)
				// },
                // queryDurationTime(){
                //     var timegivestart=this.ruleForm.dateValue[0]
				// 	var timegiveend=this.ruleForm.dateValue[1]
                //     querydurationTime(timegivestart,timegiveend)
				// },
                handleOpen(key, keyPath) {
                    console.log(key, keyPath);
                },
                handleClose(key, keyPath) {
                    console.log(key, keyPath);
                },
            }
        })
        //CPU
        $("#real-btnQ").click(function(){
            $("#real-datatableCPU").table2excel({
                exclude: ".noExl",
                name: "Excel Document Name",
                filename: "CPU",
                exclude_img: true,
                exclude_links: true,
                exclude_inputs: true,
            });
        });
        //GPU
        $("#real-btnR").click(function(){
            $("#real-datatableGPU").table2excel({
                exclude: ".noExl",
                name: "Excel Document Name",
                filename: "GPU",
                exclude_img: true,
                exclude_links: true,
                exclude_inputs: true,
            });
        });
        window.setInterval(function () {
            var monthtt=document.getElementsByClassName('el-icon-arrow-right')
            var yeartt=document.getElementsByClassName('el-icon-d-arrow-right')
            monthtt[0].disabled=false
            monthtt[0].classList.remove("is-disabled");
            yeartt[0].disabled=false
            yeartt[0].classList.remove("is-disabled");
        },400)
	//ip地址分布，这里需要调用echarts的map文件china.js，所以我放在html里
	function map(ob) {
            var partFourLeft = echarts.init(document.getElementById('partFourLeft'));
            var mapName = 'china';
            var array=[]
            for(var i=0;i<ob.data.length;i++){
                var obj={}
                obj.name=ob.data[i].timeCount
				obj.value=ob.data[i].timeNum
				array.push(obj)
			}
            var data = array
        function compare(property){
            return function(obj1,obj2){
                var value1 = obj1[property];
                var value2 = obj2[property];
                return value2 - value1;     // 升序
            }
        }
        var toparray = data.sort(compare("value"));
		var topsub=toparray.slice(0,10)
            var geoCoordMap = {};

            /*获取地图数据*/
            partFourLeft.showLoading();
            var mapFeatures = echarts.getMap(mapName).geoJson.features;
            partFourLeft.hideLoading();
            mapFeatures.forEach(function(v) {
                // 地区名称
                var name = v.properties.name;
                // 地区经纬度
                geoCoordMap[name] = v.properties.cp;

            });
            var max = 480,
                min = 9; // todo
            var maxSize4Pin = 100,
                minSize4Pin = 20;
            var convertData = function(data) {
                var res = [];
                for (var i = 0; i < data.length; i++) {
                    var geoCoord = geoCoordMap[data[i].name];
                    if (geoCoord) {
                        res.push({
                            name: data[i].name,
                            value: geoCoord.concat(data[i].value),
                        });
                    }
                }
                return res;
            };
            var yData = [];
            var barData = [];
            for (var i = 0; i < 10; i++) {
                barData.push(data[i]);
                yData.push(i + topsub[i].name+topsub[i].value);
            }
            var option = {
                backgroundColor: '#363636',
                title: [{
                    show: true,
                    text: 'IP分布排行',
                    textStyle: {
                        color: '#CCC',
                        fontSize: 12,
                        fontWeight: 400
                    },
                    right: 30,
                    top: 52
                },{
                    show: true,
                    text: 'IP\n地\n址\n分\n布\n',
                    x: 'left',
                    left:'7',
                    y: 'center',
                    textStyle:{
                        color:'#CCC',
                        fontSize:12,
                        fontWeight:'normal',
                    },
                }],
                tooltip: {
                    padding: 0,
                    enterable: true,
                    transitionDuration: 1,
                    textStyle: {
                        color: '#000',
                        decoration: 'none',
                    },
                    // position: function (point, params, dom, rect, size) {
                    //   return [point[0], point[1]];
                    // },
                    formatter: function(params) {
                        var tipHtml = '';
                        tipHtml = '<div style="width:200px;height:90px;background:rgba(22,80,158,0.8);border:1px solid #363636">'
                            +'<div style="width:100%;height:40px;line-height:40px;border-bottom:2px solid #363636;padding:0 16px">'+'<i style="display:inline-block;width:8px;height:8px;background:#16d6ff;border-radius:40px;">'+'</i>'
                            +'<span style="margin-left:10px;color:#fff;font-size:16px;">'+params.name+'</span>'+'</div>'
                            +'<div style="padding-left:8px;">'
                            +'<p style="color:#fff;font-size:14px;margin-top: 8px;">'+'<i style="display:inline-block;width:10px;height:10px;background:#16d6ff;border-radius:40px;margin:0 8px">'+'</i>'
                            +'总数：'+'<span style="color:#ffffff;margin:0 6px;">'+params.data['value']+'</span>'+'人'+'</p>'
                            +'</div>'+'</div>';
                        // setTimeout(function() {
                        //     tooltipCharts(params.name);
                        // }, 10);
                        return tipHtml;
                    }
                },
                visualMap: {
                    type: 'continuous',
                    itemWidth: 20,
                    itemHeight: 85,
                    text: ['多', '少'],
                    showLabel: true,
                    seriesIndex: [0],
                    min: 0,
                    max: 1000,
                    inRange: {
                        color: ['#467bc0', '#04387b'] // 蓝绿
                    },
                    textStyle: {
                        color: '#ffffff'
                    },
                    bottom: 5,
                    left: 10,
                },
                grid: {
                    right: 40,
                    top: 90,
                    width: '6%'
                },
                xAxis: {
                    show: false
                },
                yAxis: {
                    type: 'category',
                    inverse: true,
                    nameGap: 16,
                    axisLine: {
                        show: false,
                        lineStyle: {
                            color: '#ffffff'
                        }
                    },
                    axisTick: {
                        show: false,
                        lineStyle: {
                            color: '#ddd'
                        }
                    },
                    axisLabel: {
                        interval: 0,
                        margin: 15,
                        textStyle: {
                            color: '#ffffff',
                            align: 'left',
                            fontSize: 14
                        },
                        rich: {
                            a: {
                                color: '#fff',
                                backgroundColor: '#FE0E0E',
                                width: 20,
                                height: 20,
                                align: 'center',
                                borderRadius: 2
                            },
                            b: {
                                color: '#fff',
                                backgroundColor: '#F28943',
                                width: 20,
                                height: 20,
                                align: 'center',
                                borderRadius: 2
                            },
                            c: {
                                color: '#fff',
                                backgroundColor: '#76AA31',
                                width: 20,
                                height: 20,
                                align: 'center',
                                borderRadius: 2
                            },
                            d: {
                                color: '#fff',
                                backgroundColor: '#3166AA',
                                width: 20,
                                height: 20,
                                align: 'center',
                                borderRadius: 2
                            }
                        },
                        formatter: function(params) {
                            var reg = /[\u4e00-\u9fa5]/g;
                            if (parseInt(params.slice(0,1)) <= 0) {
                                var city= params.match(reg).join("");//汉字
								var num=params.replace(reg, "");
                                return [
                                    '{a|' + (parseInt(params.slice(0, 1)) + 1) + '}' + '  ' + city+' '+parseInt(num.slice(1))+'人'
                                ].join('\n')
                            } else if (parseInt(params.slice(0,1)) > 0 && parseInt(params.slice(0,1)) <= 1){
                                var city= params.match(reg).join("");//汉字
                                var num=params.replace(reg, "");
                                return [
                                    '{b|' + (parseInt(params.slice(0, 1)) + 1) + '}' + '  ' +city+' '+parseInt(num.slice(1))+'人'
                                ].join('\n')
                            }else if (parseInt(params.slice(0,1)) > 1 && parseInt(params.slice(0,1)) <= 2){
                                var city= params.match(reg).join("");//汉字
                                var num=params.replace(reg, "");//去掉汉字
                                return [
                                    '{c|' + (parseInt(params.slice(0, 1)) + 1) + '}' + '  ' +city+' '+parseInt(num.slice(1))+'人'
                                ].join('\n')
                            }else{
                                var city= params.match(reg).join("");//汉字
                                var num=params.replace(reg, "");//去掉汉字
                                return [
                                    '{d|' + (parseInt(params.slice(0, 1)) + 1) + '}' + '  ' +city+' '+parseInt(num.slice(1))+'人'
                                ].join('\n')
                            }
                        }
                    },
                    data: yData
                },
                geo: {
                    // roam: true,
                    map: 'china',
                    left: '40',
                    right: '200',
                    top:'20',
                    width: '75%',
                    height:'95%',
                    label: {
                        emphasis: {
                            show: false
                        }
                    },
                    itemStyle: {
                        normal: {
                            areaColor: '#ffffff',
                            borderColor: '#ffffff',
                        },
                        emphasis: {
                            areaColor: '#4499d0',//鼠标悬浮地区背景色
                        }
                    }
                },
                series: [{
                    name: 'mapSer',
                    type: 'map',
                    roam: false,
                    geoIndex: 0,
                    label: {
                        show: false,
                    },
                    data: data
                },{
                    name: '散点',
                    type: 'scatter',
                    coordinateSystem: 'geo',
                    data: convertData(data),
                    symbolSize: .1,
                    opacity:.1,
                    // function(val) {
                    //     return val[2] / 10;
                    // },
                    label: {
                        normal: {
                            formatter: '{b}',
                            position: 'center',
                            show: true
                        },
                        emphasis: {
                            show: true
                        }
                    },
                    itemStyle: {
                        normal: {
                            color: '#fff',
                        }
                    }
                },]
            };
            partFourLeft.setOption(option);
        }
        //崩溃导出
        $("#real-btnN").click(function(){
            $("#real-datatableCol").table2excel({
                exclude: ".noExl",
                name: "Excel Document Name",
                filename: "崩溃时间点",
                exclude_img: true,
                exclude_links: true,
                exclude_inputs: true,
            });
        });
        //崩溃导出table2excel
        $("#real-btnM").click(function(){
            $("#real-datatableSave").table2excel({
                exclude: ".noExl",
                name: "Excel Document Name",
                filename: "设备总内存大小",
                exclude_img: true,
                exclude_links: true,
                exclude_inputs: true,
            });
        });
	var winWidth = 0,winHeight = 0;
    function changebleWidthHeight() {
    if (window.innerWidth)
        winWidth = window.innerWidth;
    else if ((document.body) && (document.body.clientWidth))
        winWidth = document.body.clientWidth;
//获取窗口高度
    if (window.innerHeight)
        winHeight = window.innerHeight;
    else if ((document.body) && (document.body.clientHeight))
        winHeight = document.body.clientHeight;
//通过深入Document内部对body进行检测，获取窗口大小
    if (document.documentElement && document.documentElement.clientHeight && document.documentElement.clientWidth)
    {
        winHeight = document.documentElement.clientHeight;
        winWidth = document.documentElement.clientWidth;
    }
    // document.getElementById("serverCos").style.width = winWidth - 50
    // document.getElementById("data_5").style.width = winWidth - 40
}
window.onresize = changebleWidthHeight();


	</script>
</body>

</html>
